.DS_Store
.netrc
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.swiftpm/xcode/package.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
/*.xcodeproj/
/.build/
/Packages/
DerivedData/
xcuserdata/
